body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.container {
  margin: 25px;
  height: 560px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.task-adder {
  align-self: center;
  border: 1px solid rgba(30, 30, 30, 0.3);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.task-adder-header {
  margin: 0px;
  text-align: center;
  font-weight: 500;
  color: rgba(41, 39, 39, 0.8);
}

.title-box {
  margin-top: 20px;
  align-self: center;
  width: 200px;
  border: 0px;
  text-align: center; 
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
}

.box:focus {
  outline: none;
}

.create-task-button {
  align-self: center;
  margin-top: 20px;
}