body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.container {
  margin: 25px;
  height: 560px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.task-adder {
  align-self: center;
  border: 1px solid rgba(30, 30, 30, 0.3);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.task-adder-header {
  margin: 0px;
  text-align: center;
  font-weight: 500;
  color: rgba(41, 39, 39, 0.8);
}

.title-box {
  margin-top: 20px;
  align-self: center;
  width: 200px;
  border: 0px;
  text-align: center; 
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
}

.box:focus {
  outline: none;
}

.create-task-button {
  align-self: center;
  background: linear-gradient(to bottom right, #3381ff, rgb(4, 108, 192));
  border-radius: 4px;
  padding: 5px;
  margin: 20px 1px 0px 10px;
  color: white;
}

.create-task-button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #2d73e2, rgb(4, 83, 148));
}

.create-task-button:focus {
  outline: none;
}

.todo-lists {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.task-title {
  margin: 0px;
  font-weight: 500;
}

.task-container {
  color: rgba(41, 39, 39, 0.8);
  margin: 5px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
}