body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

*::placeholder {
  color: rgb(163, 162, 162);
  font-style: italic;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.container {
  margin: 25px;
  height: 535px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  padding: 35px 0px 35px 44px;
  display: flex;
  flex-direction: column;
}

.task-adder {
  align-self: center;
  border: 1px solid rgba(30, 30, 30, 0.3);
  padding: 5px 13px 5px 13px;
  border-radius: 5px;
  display: flex;
  box-shadow: 1px 2px 3px 0px rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  flex-direction: column;
  margin-bottom: 7px;
}

.task-adder-header {
  margin: 0px;
  text-align: center;
  font-weight: 500;
  color: rgba(41, 39, 39, 0.8);
}

.title-box {
  align-self: center;
  height: 20px;
  width: 400px;
  font-weight: 800;
  font-size: 14px;
}
.box {
  border: 0px;
  color: #000000bf;
}

.box:focus {
  outline: none;
}

.create-todo-button {
  align-self: center;
  background: linear-gradient(to bottom right, #3381ff, rgb(4, 108, 192));
  border-radius: 4px;
  padding: 5px;
  margin: 20px 1px 0px 10px;
  color: white;
}

.create-todo-button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #2d73e2, rgb(4, 83, 148));
}

.create-todo-button:focus {
  outline: none;
}

.todo-lists {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px 5px 5px 5px;
}

.task-title {
  margin: 0px;
  font-weight: 800;
  font-size: 18px;
  color: #545454;
  width: 148px;
  margin-top: -2px;
}

.task-container {
  width: 204px;
  color: rgba(41, 39, 39, 0.8);
  border: 1px solid rgba(30, 30, 30, 0.3);
  margin-top: 28px;
  padding: 10px 10px 15px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.task-container:hover {
  box-shadow: 3px 3px 3px #e6e5e5;
}

.task-container:hover .svg{
  animation: show 0.4s;
  visibility: visible;
}

.task-container .svg {
  visibility: hidden;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: center;
}

.searchBox {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 57px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  background: white;
  padding: 5px;
  border-radius: 5px;
  width: 182px;
}

.task-headline {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-bottom: 10px;
}

.svg {
  cursor: pointer;
}

.sub-tasks-adder {
  padding: 10px 10px 6px 10px;
  align-self: center;
  display: flex;
}

.sub-task-svg {
  height: 10px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}

.sub-task-svg:hover {
  cursor: pointer;
}

.sub-task-box {
  width: 150px;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  text-align: center;
  margin-bottom: 3px;
}

.subtasks {
  word-wrap: break-word;
  hyphens: auto;
  padding: 0px 4px 0px 27px;
  flex-direction: column;
}

.svg-remove {
  height: 19px;
  margin-left: 6px;
  margin-bottom: -2px;
}

.svg-task-remove {
  height: 19px;
  margin-left: 6px;
  margin-bottom: -4px;
}

.create-svg {
  width: 20px;
  margin-left: 4px;
}

.image {
  border-radius: 12%;
  display: flex;
  width: 23px;
  height: 23px;
  margin-top: 1px;
}

.image:hover {
  background-color: #ececec;
  box-shadow: inset 0px 1px 4px 0px rgb(183, 181, 181);
}

p {
  margin: 0px;
  margin-top: 10px;
}

.edit {
  width: 118px;
  font-size: 15px;
}

.svg-edit {
  margin-bottom: -2px;
  height: 19px;
}

.checked {
  color: #adabab
}

.edit:focus {
  outline: none;
}

.search {
  height: 19px;
}